.container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 3em 2fr auto;
  background-color: rgb(255, 145, 0);
}

.grid-left {
  grid-column: 1;
  grid-row: 2;
  margin-top: 4em;
  margin-left: 30%;
}

.grid-center {
  text-align: center;
  grid-column: 2;
  grid-row: 2;
  font-size: 1em;
}

.grid-right {
  grid-column: 3;
  grid-row: 2;
  margin-top: 4em;
  margin-left: 30%;
}

.title {
  text-align: center;
  margin-top: 1em;
  grid-column: 2;
  grid-row: 1;
}

h2 {
  text-align: center;
}

.card {
  position: relative;
}

.outcome {
  position: absolute;
  left: -30%;
  top: 40%;
  bottom: 50%;
  -webkit-text-stroke: 2px black;
  color: rgb(255, 0, 221);
  font-size: 5em;
  transform: rotate(-45deg);
}

.correct {
  transform: rotate(45deg);
  color: rgb(25, 0, 255);
  left: -25%;
}

.btn {
  margin: 1em;
}

.hidden {
  display: none;
}

.guess-card {
  max-width: 35%;
  max-height: 35%;
}

.deck-size {
  margin-bottom: 1em;
}

.setup {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  border: 1em;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.setup-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  height: 30rem;
  background-color: white;
  border-radius: 9px;

  padding: 2rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
  z-index: 1000;
  transition: all 0.5s;
}

.setup-column-left {
  grid-column: 1;
}

.setup-column-right {
  /* position: fixed; */
  grid-column: 2;
  justify-content: center;
}

.start-btn {
  grid-column: 2;
  left: 50%;
  transform: translate(-50%, -50%);
}

.type-label {
  display: block;
}
