* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3em 2fr;
  background-color: rgb(255, 145, 0);
  font-family: sans-serif;
  height: 100%;
}

.grid-left {
  grid-column: 1;
  grid-row: 2;
  /* margin-top: 4em; */
  /* margin-left: 30%; */
  text-align: center;
  justify-content: right;
  justify-items: right;
  /* width: fit-content; */
}

.grid-center {
  text-align: center;
  grid-column: 2;
  grid-row: 2;
  font-size: 1em;
}

.grid-right {
  grid-column: 3;
  grid-row: 2;
  margin-top: 4em;
  margin-left: 30%;
}

/* h4 {
  width: fit-content;
  margin: 0;
  text-align: center;
} */

.title {
  text-align: center;
  align-self: center;
  /* margin-top: 1em; */
  grid-column: 1 / -1;
  grid-row: 1;
}

.card {
  /* justify-content: right; */
  width: fit-content;
  justify-self: right;
}

.card-pic {
  width: 10em;
  height: auto;
  justify-self: right;
  text-align: center;
}

.outcome {
  position: absolute;
  left: -30%;
  top: 40%;
  bottom: 50%;
  -webkit-text-stroke: 2px black;
  color: rgb(255, 0, 221);
  font-size: 5em;
  transform: rotate(-45deg);
}

.correct {
  transform: rotate(45deg);
  color: rgb(25, 0, 255);
  /* left: auto; */
  right: auto;
  top: 2em;
}

.btn {
  margin: 1em;
}

.hidden {
  display: none;
}

.guess-card {
  max-width: 35%;
  max-height: 35%;
}

.deck-size {
  margin-bottom: 1em;
}

.setup {
  /* position: relative; */
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 1fr auto;
  border: 1em;
  justify-content: center;
  justify-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.setup-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7rem;
  height: fit-content;
  background-color: white;
  border-radius: 9px;

  padding: 2rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
  z-index: 1000;
  transition: all 0.5s;
}
/* 
.setup-column-left {
  grid-column: 1;
  justify-items: center; 
} */

.setup-column-right {
  grid-column: 2;
  justify-content: center;
}

.player-name,
.num-players {
  margin-bottom: 1em;
}

.player-name {
  width: 7em;
}

.start-btn {
  /* position: absolute; */
  grid-column: 1;
  justify-content: center;
  left: 50%;
  bottom: 0;
  width: 10em;
  height: 5em;
  /* transform: translate(-50%, -50%); */
}

.type-label {
  display: block;
}

li,
h3 {
  margin-bottom: 0.5em;
}

.highlight {
  background-color: white;
  width: fit-content;
  font-style: italic;
}
